<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tech Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {{#if logged_in}}
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/{{userId}}"></a>Dashboard</a>
        </li>
        {{/if}}
        {{#unless loogged_in}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/unless}}
        {{#if logged_in}}
        <li class="nav-item">
            <a class="nav-link active" id="logout" aria-current="page" href="/signout">Sign Out</a>
          </li>
          {{/if}}
      </ul>
    </div>
  </div>
</nav>
    <h1>
      Tech Blog
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
